/*
 Theme Name: PR Twenty Twenty child
 Template: twentytwenty
*/

/*
 Set colours in theme database
 Colors:
 - background: #dddddd
 - header&footer background: #020d4c
 - primary - slider (might want to force override)
 */

:root {
  --pr_black: #15161b;
  --pr_blue: #020D4C;
  --pr_darkblue: #213177;
  --pr_brightblue: #405cd4;
  --pr_grey: #575a69;
  --pr_lightgrey: #d3d3d3;
  --pr_white: #ddd;
  --white: #fff;
}

html,
body {
  font-family: 'Lato', sans-serif;
  text-align: justify;
}

body a {
  color: var(--pr_darkblue);
}
body a:focus,
body a:hover {
 color: var(--pr_brightblue);
}

body a.button {
  background-color: var(--pr_darkblue);
  border-radius: 10px;
  margin: 1em 0.5em;
}

body a.button:focus,
body a.button:hover {
 background-color: var(--pr_brightblue);
 color: var(--pr_white)
}

.fa {
  margin-right: 2px;
}

body main header {
  background-color: var(--pr_white) !important;
  padding: 2em 0 !important;
}

.header-inner,
.section-inner {
  max-width: 120rem;
}

#site-header {
  background-color: var(--pr_blue);
  color: var(--pr_white);
}

#site-header .site-description {
  color: var(--pr_white);
  display: unset;
}

.primary-menu-wrapper {
  background-color: var(--pr_grey);
  color: var(--pr_white);
  padding: 0.8em 4em;
}

.primary-menu-wrapper ul {
  font-size: 1.15em;
  justify-content: space-evenly;
}

.nav-toggle {
  top: 10px;
  bottom: unset;
}

.toggle-text,
#site-header .toggle,
.menu-modal .toggle {
  color: var(--pr_white) !important;
}

.menu-modal,
.menu-modal-inner {
  background-color: var(--pr_grey);
}

body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) .primary-menu > li > .icon, .modal-menu a, .footer-menu a, .footer-widgets a, #site-footer .wp-block-button.is-style-outline, .wp-block-pullquote:before, .singular:not(.overlay-header) .entry-header a, .archive-header a, .header-footer-group .color-accent, .header-footer-group .color-accent-hover:hover {
  color: var(--pr_white) !important;
}

body:not(.enable-search-modal) .header-titles-wrapper {
  padding: 0 4rem;
}

/** Property teaser **/

.property-card {
  background-color: var(--pr_lightgrey);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 2.8em;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.property-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.property-card img {
  border-radius: 10px;
}

p.detail.disposal {
  border-bottom: 2px solid var(--pr_grey);
  border-top: 2px solid var(--pr_grey);
  padding: 1em 0;
  text-transform: uppercase;
}

@media (min-width: 700px) {
  .entry-content h3.type {
    margin: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
}

.post-inner {
  padding-top: 1.3em;
}

header .contact {
  text-align: right;
}

@media (max-width: 782px) {
  header .contact {
    text-align: center;
    padding-top: 1em;
  }
}

header .contact a.linkedin {
  color: #0e76a8;
}

header .contact a {
  color: var(--pr-white);
  text-decoration: none;
}

header .contact a:hover,
header .contact a:focus {
  text-decoration: underline;
}

header .contact div {
  padding-bottom: 10px;
}

h1 {
  color: var(--pr_black);
}

#site-footer {
  background-color: var(--pr_black);
  color: var(--pr_grey);
}

#site-footer .info {
  font-size: 0.8em;
  padding: 0 0.8em;
}

#site-footer .rics-logo {
  margin: 0 8rem;
}

#site-footer p {
  margin-bottom: 0;
}

#site-footer .footer-copyright {
  padding: 1em 0;
}

a.to-the-top {
  min-width: 32px;
}

a.to-the-top:hover,
a.to-the-top:focus {
  color: var(--pr_white);
}
