/*
 Theme Name: PR Twenty Twenty child
 Template: twentytwenty
*/

/*
 Set colours in theme database
 Colors:
 - background: #dddddd
 - header&footer background: #020d4c
 - primary - slider (might want to force override)
 */

:root {
  --pr_black: #15161b;
  --pr_blue: #020D4C;
  --pr_darkblue: #213177;
  --pr_brightblue: #405cd4;
  --pr_grey: #575a69;
  --pr_white: #ddd;
  --white: #fff;
}

html,
body {
  font-family: 'Lato', sans-serif;
  text-align: justify;
}

body a {
  color: var(--pr_darkblue);
}
body a:focus,
body a:hover {
 color: var(--pr_brightblue);
}

.fa {
  margin-right: 2px;
}

body main header {
  background-color: var(--pr_white) !important;
  padding: 2em 0 !important;
}

#site-header {
  background-color: var(--pr_blue);
  color: var(--pr_white);
}

#site-header .site-description {
  color: var(--pr_white);
}

.primary-menu-wrapper {
  background-color: var(--pr_grey);
  color: var(--pr_white);
  padding: 0.8em;
  text-align: left;
}

.primary-menu-wrapper ul {
  font-size: 1.15em;
  justify-content: space-around;
}

body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) .primary-menu > li > .icon, .modal-menu a, .footer-menu a, .footer-widgets a, #site-footer .wp-block-button.is-style-outline, .wp-block-pullquote:before, .singular:not(.overlay-header) .entry-header a, .archive-header a, .header-footer-group .color-accent, .header-footer-group .color-accent-hover:hover {
  color: var(--pr_white) !important;
}

.post-inner {
  padding-top: 2em;
}
