/*
 Theme Name: PR Twenty Twenty child
 Template: twentytwenty
*/

/*
 Set colours in theme database
 Colors:
 - background: #dddddd
 - header&footer background: #020d4c
 - primary - slider (might want to force override)
 */

:root {
  --pr_black: #15161b;
  --pr_blue: #020D4C;
  --pr_darkblue: #213177;
  --pr_brightblue: #405cd4;
  --pr_grey: #575a69;
  --pr_lightgrey: #d3d3d3;
  --pr_white: #ddd;
  --pr_red: #b90000;
  --white: #fff;
}

@font-face {
    font-family: 'Calibre';
    src: url('./fonts/Calibre-Regular.eot');
    src: local('Calibre'), local('Calibre-Regular'),
        url('./fonts/Calibre-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Calibre-Regular.woff2') format('woff2'),
        url('./fonts/Calibre-Regular.woff') format('woff'),
        url('./fonts/Calibre-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('./fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('./fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}


html,
body,
.entry-content {
  font-family: 'Calibre', sans-serif;
  /*font-family: 'LatoWeb', sans-serif;*/
  text-align: justify;
}

body a {
  color: var(--pr_darkblue);
}
body a:focus,
body a:hover {
 color: var(--pr_brightblue);
}

h1,
h2,
h3,
h4,
h5,
h6,
.faux-heading {
  letter-spacing: normal;
}

h1, .entry-content h2, .entry-content h3 {
  margin: 1.8rem auto;
}

h1,
.heading-size-1 {
  font-size: 3.2rem;
}
h2,
.heading-size-2 {
  font-size: 2.3rem;
}
h3,
.heading-size-3 {
  font-size: 2.1rem;
}
h4,
.heading-size-4 {
  font-size: 2rem;
}
h5,
h6,
.heading-size-5,
.heading-size-6 {
  font-size: 0.5rem;
}

body a.button {
  background-color: var(--pr_darkblue);
  border-radius: 10px;
  margin: 1em 0.5em;
}

body a.button:focus,
body a.button:hover {
 background-color: var(--pr_brightblue);
 color: var(--pr_white)
}

.fa {
  margin-right: 2px;
}

body main header {
  background-color: var(--pr_white) !important;
  padding: 1.8em 0 0 0 !important;
}

.header-inner,
.section-inner.medium,
section-inner {
  max-width: 120rem;
}

#site-header {
  background-color: var(--pr_blue);
  color: var(--pr_white);
}

#site-header .site-description {
  color: var(--pr_white);
  display: unset;
  font-size: 2rem;
}

.primary-menu-wrapper {
  background-color: var(--pr_grey);
  color: var(--pr_white);
  padding: 0.8em 1.8em;
}

.primary-menu-wrapper ul {
  font-size: 1.15em;
  justify-content: left;
  margin: auto;
  max-width: 120rem;
}

.primary-menu-wrapper ul li {
  margin: 0 1em 0 0;
}

.nav-toggle {
  top: 10px;
  bottom: unset;
}

.toggle-text,
#site-header .toggle,
.menu-modal .toggle {
  color: var(--pr_white) !important;
}

.menu-modal,
.menu-modal-inner {
  background-color: var(--pr_grey);
}

body:not(.overlay-header) .primary-menu > li > a, body:not(.overlay-header) .primary-menu > li > .icon, .modal-menu a, .footer-menu a, .footer-widgets a, #site-footer .wp-block-button.is-style-outline, .wp-block-pullquote:before, .singular:not(.overlay-header) .entry-header a, .archive-header a, .header-footer-group .color-accent, .header-footer-group .color-accent-hover:hover {
  color: var(--pr_white) !important;
}

body:not(.enable-search-modal) .header-titles-wrapper {
  padding: 0;
}

body .entry-content > .alignwide:not(.property-card) {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

body .entry-content > .alignwide.property-card {
  margin-top: 1rem !important;
  margin-bottom: 4rem !important;
}
body .post-inner {
  padding-top: 0;
}

/** Landing page - 3 images **/

.page-content.landing-page .wp-block-cover {
  margin: 0 !important;
}

.page-content.landing-page .wp-block-columns.has-background {
   padding: 0;
}

.page-content.landing-page .wp-block-columns.has-background p {
  color: #ddd;
}

.page-content.landing-page .wp-block-columns {
  margin-left: 0;
  margin-right: 0;
}

.page-content.landing-page .wp-block-columns p {
  padding: 15px;
}

.page-content.landing-page .wp-block-column:not(:first-child) {
  margin-left: 10px;
}

.page-content.landing-page .wp-block-cover {
  height: 100%;
}

.page-content.landing-page .wp-block-cover__inner-container {
  left: 7%;
  position: absolute;
  top: 10%;
}


.page-content.landing-page .alignwide {
  max-width: 120rem;
  width: calc(100vw - 1rem) !important;
}


@media (max-width: 782px) {
  .page-content.landing-page .wp-block-column:not(:first-child) {
    margin-left: 2em;
  }


  .page-content.landing-page .wp-block-column {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .page-content.landing-page .wp-block-column:not(:first-child) {
    margin: 0 !important;
  }
}

/** End Landing page - 3 images **/


/** Property single **/

.singular.single-property_listing .entry-header .status {
  background: var(--pr_red);
  border-radius: 10px;
  color: var(--pr_white);
  margin-left: 20px;
  padding: 10px 10px 2px;
}

.singular.single-property_listing .gallery {
  /** We are rendering with lightbox.js **/
  display: none;
}

.singular.single-property_listing .entry-content .pdf {
  text-align: center;
  margin: 0 auto;
}

.singular.single-property_listing .detail.summary h2 {
  font-size: 3rem;
  margin: 2rem auto 1rem;
}

.singular.single-property_listing .detail.summary h3 {
  font-size: 2rem;
  margin: 2rem auto 1rem;
}

.singular.single-property_listing .featured-media::before {
  background: none;
}

.property_listing .pdf-buttons .button {
  font-size: 1.45rem;
  margin: 1em 1.2em 0 0;
  width: 285px;
}

.property_listing .pdf-buttons .button.lastof4 {
  margin-right: 0;
}

/** Property single end */

/** Property teaser **/

/* Add extra padding to top card (no page heading here) */
body .entry-content .post-inner + .alignwide.property-card {
  margin-top: 4rem !important;
}

.property-card {
  background-color: var(--pr_lightgrey);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-size: 1.7rem;
  padding: 1.8rem 2rem;
  transition: 0.3s;
}

.property-card h3 {
  margin: 1.18rem 0;
  text-align: left;
}

.property-card .details {
  display: flex;
  gap: 1.5em;
  flex: 4;
  flex-wrap: wrap;
}

.property-card .main-image {
  flex: 1;
}

.property-card .address {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  min-width: 255px;
}

.property-card .info {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-between;
  min-width: 255px;
  text-align: left;
}

.property-card .button {
  font-size: 1.2rem;
  margin: 1em 1em 0 0;
  width: 270px;
}

.property_listing .pdf-buttons,
.property-card .pdf-buttons {
  align-items: start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (max-width: 782px) {
  .property-card {
    padding: 1.5em;
  }

  .property-card ul {
    text-align: left;
  }
}

/* Media queries for lightbox */
@media (max-width: 1024px) {
  .property_listing .wrap-center div {
    justify-content: center !important;
  }
}

@media (max-width: 525px) {
  .property_listing svg {
    width: 20px !important;
  }

  .property_listing .featured-media .section-inner {
    width: 100%;
  }

  .property_listing .minimal-padding {
    padding: 0.2rem;
  }

  .property_listing .minimal-padding .spacing-20-20.r > .s + .s {
    margin: 0;
  }
}

/* On mouse-over, add a deeper shadow */
.property-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.property-card img {
  border-radius: 10px;
}

.property-card ul {
  margin: 1em 0.5em;
}

.property-card p,
.property-card li {
  line-height: 1.1;
}

.property-card .detail.address {
  margin: 0 0 0.5em 0;
}

.detail.disposal {
  border-bottom: 2px solid var(--pr_grey);
  border-top: 2px solid var(--pr_grey);
  font-size: 1.2em;
  padding: 0.5em 0 0.2em;
  text-transform: uppercase;
}

.property-card .detail.disposal {
  padding: 0.3em 0 0 0.2em;
}

.property-card {
  overflow: hidden;
}

.property-card .teaser-container {
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.property-card .main-image .status {
  background: var(--pr_red);
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  color:white;
  font-size: 1.1em;
  margin: 0;
  padding: 1em 0;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 80px;
  text-transform: uppercase;
  text-align: center;
  transform: translateX(-30%) translateY(0%) rotate(-45deg);
  transform-origin: top right;
}


.property-card .main-image .status:before,
.property-card .main-image .status:after {
  content: '';
  box-shadow: 0 2px 0 0 rgba(0,0,0,0.2);
  position: absolute;
  top:0;
  margin: 0 -1px;
  width: 100%;
  height: 100%;
  background: var(--pr_red);
}

.property-card .main-image .status:before {
  left: 100%;
}

.property-card .main-image .status:after {
  right: 100%;
}

@media (min-width: 700px) {
  .entry-content h3.type {
    margin: 0;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .property-card .row {
    flex-wrap: nowrap;
  }

}

.post-inner {
  padding-top: 1.3em;
}

header .contact {
  text-align: right;
}

@media (max-width: 782px) {
  header .header-titles {
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
  }
  header .contact {
    text-align: center;
    padding-top: 1em;
  }
}

header .contact a.linkedin {
  color: #0e76a8;
}

header .contact a {
  color: var(--pr-white);
  text-decoration: none;
}

header .contact a:hover,
header .contact a:focus {
  text-decoration: underline;
}

header .contact div {
  padding: 10px 0;
}

h1 {
  color: var(--pr_black);
}

#site-footer {
  background-color: var(--pr_black);
  color: var(--pr_grey);
}

#site-footer .info {
  font-size: 0.8em;
  padding: 0;
}

#site-footer .section-inner {
  align-items: unset;
}

#site-footer p {
  margin-bottom: 0;
}

#site-footer .footer-copyright {
  padding: 1em 0;
}

@media (max-width: 782px) {
  #site-footer .section-inner {
    display: block;
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
  }

  #site-footer img {
    margin: auto;
  }
}
